@media screen and (max-width: 480px) {
    #image{
        height: 30vh;
        background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    #details{
        height: 70vh;
    }
    #logo{
        height: 30px;
        width: 30px;
    }
    .c{
        position: absolute;
        font-family: 'Open Sans', sans-serif;
        top: 30%;   
        left: 10%;
        font-size: 20px;
    }
    .d{
        position: absolute;
        top: 90%;
        left: 12%;
    
    }
}
#logo{
    position: absolute;
}
#details{
    display: block;
}
#details h3{
    margin-top: 30px;
    margin-bottom: 20px;
}
#rowdiv{
    display: flex;
    justify-content: center;

}
.city{
    padding: 5px;
    margin-bottom: 30px;
}
.show{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.c{
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    top: 30%;   
    left: 20%;
    font-size: 60px;
}
.d{
    position: absolute;
    top: 50%;
    left: 21%;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;

}